<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PLCAutoCalculation.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings/>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <PLCAutoCalculation.My.MySettings>
            <setting name="pcIPAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="server" serializeAs="String">
                <value />
            </setting>
            <setting name="database" serializeAs="String">
                <value />
            </setting>
            <setting name="Port1" serializeAs="String">
                <value />
            </setting>
            <setting name="settingIPAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="method" serializeAs="String">
                <value />
            </setting>
            <setting name="dsMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Port2" serializeAs="String">
                <value />
            </setting>
            <setting name="Port3" serializeAs="String">
                <value />
            </setting>
            <setting name="Port4" serializeAs="String">
                <value />
            </setting>
            <setting name="OpenPort" serializeAs="String">
                <value />
            </setting>
            <setting name="PLCIP" serializeAs="String">
                <value />
            </setting>
            <setting name="feedback" serializeAs="String">
                <value>Enable</value>
            </setting>
            <setting name="FixFBK" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FixFBC" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FixFBHK" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Min" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SampleSize" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Max" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FBValueSaveK" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FBValueSaveC" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FBValueSaveHK" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="cutOff" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SpacerMode" serializeAs="String">
                <value>Auto</value>
            </setting>
            <setting name="H_KA" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="H_KC" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="H_CB" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="H_CD" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="H_HKA" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="H_HKC" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SpecRange" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SendDelay" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="CLBdv" serializeAs="String">
                <value>13.85</value>
            </setting>
            <setting name="Housingdv" serializeAs="String">
                <value>10.85</value>
            </setting>
            <setting name="InitConnectDelay" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="ExpectedCLBControl" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FBFormula" serializeAs="String">
                <value>DIF</value>
            </setting>
        </PLCAutoCalculation.My.MySettings>
    </userSettings>
</configuration>
